
<div class="header" title='comes from index.html'>
<ul class="nav nav-pills pull-right" ng-controller='NavigationLinks'> 
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Owner</button>
	<div class="dropdown-content">
		<a href="#/addOwner">Add Owner</a>
		<a href="#/listOwner">List Owners</a>
		<a href="#/updateOwner">Update Owner</a>
		<a href="#/viewOwner">View Owner</a>
	</div>
	</div>
  </li>
  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Tenant</button>
	<div class="dropdown-content">
		<a href="#/addTenant">Add Tenant</a>
		<a href="#/listTenant">List Tenant</a>
		<a href="#/updateTenant">Update Tenant</a>
	</div>
	</div>
  </li>

  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Staffs</button>
	<div class="dropdown-content">
		<a href="#/addStaffs">Add Staffs</a>
		<a href="#/listStaffs">List Staffs</a>
		<a href="#/updateStaffs">Update Staffs</a>
	</div>
	</div>
  </li>
  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Vendors</button>
	<div class="dropdown-content">
		<a href="#/addVendors">Add Vendors</a>
		<a href="#/listVendors">List Vendors</a>
		<a href="#/updateVendors">Update Vendors</a>
	</div>
	</div>
  </li>
  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Invoices</button>
	<div class="dropdown-content">
		<a href="#/generateInvoices">Generate Invoices</a>
		<a href="#/listInvoices">List Invoices</a>
	</div>
	</div>
  </li>
  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Payments</button>
	<div class="dropdown-content">
		<a href="#/addPayments">Add Payments</a>
		<a href="#/listPayments">List Payments</a>
		<a href="#/updatePayments">Update Payments</a>
	</div>
	</div>
  </li>

  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Expenses</button>
	<div class="dropdown-content">
		<a href="#/addExpenses">Add Expenses</a>
		<a href="#/listExpenses">List Expensess</a>
		<a href="#/updateExpenses">Update Expenses</a>
		<a href="#/viewExpenses">View Expenses</a>
	</div>
	</div>
  </li>

  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Receipt</button>
	<div class="dropdown-content">
		<a href="#/createReceipt">Create Receipt</a>
		<a href="#/generateReceipt">Generate All Receipts</a>
		<a href="#/listReceipt">List Receipts</a>
	</div>
	</div>
  </li>
  
  <li ng-class="{active: (locationPath=='/home')}">
  <div class="dropdown">
	<button class="dropbtn">Incidents</button>
	<div class="dropdown-content">
		<a href="#/createIncident">Create Incident</a>
		<a href="#/listIncident">List Incidents</a>
		<a href="#/updateIncident">Update Incident</a>
	</div>
	</div>
  </li>
  
  </ul>
  <h3 class="text-muted">Project name</h3>
</div>
